@import vars

.Footer
  padding 80px 0
  background-color $black
  color $white
  
  .nav-logo-text
    color $white
    
  .nav-link
    color rgba($white, 75%)

@media only screen and (max-width: $sm-viewport)
  .Footer
    padding 40px 0
