@import vars

.Hero
  position relative
  padding-top 12rem
  padding-bottom 8rem
  // height 100vh
    
  // background-image url('../img/bg-clouds.jpg')
  // background-size cover

.Hero-inverted
  background-color $brandRed
  
  .hero-subtitle
    color $white
  
  .hero-title-background
    background-color $white
    .hero-title
      color $brandDarker
  
  .hero-btn
    background-color $white
    color $brandRed

.hero-title
  display inline-block
  font-size 50px
  line-height 70px
  font-weight 500
  margin 0
  color $brandDarker

.hero-title-underline
  border-bottom 8px solid $brandRed
  
.hero-title-background
  display inline-block
  background-color $brandDarker
  padding 10px 24px
  .hero-title
    color $white

.hero-subtitle
  font-size 24px
  line-height 40px
  font-weight 300
  color $brandDark

.hero-btn
  display inline-block
  color $white
  font-size 16px
  font-weight 400
  height 70px
  line-height 70px
  padding 0 44px
  border-radius 35px
  background-color $brandRed

@media only screen and (max-width: $sm-viewport)
  .Hero
    padding-top 6rem
    padding-bottom 4rem
    
  .hero-title
    font-size 40px
    line-height 50px
  .hero-title-background
    padding-top 20px
    padding-bottom 20px
    
  .hero-subtitle
    font-size 20px
    line-height 32px 
  
  .Spacing--large--bottom
    padding-bottom 3rem