@import "../libs/reset.css";
@import "../libs/flexboxgrid.css";
@import vars
@import utilities
@import fonts

*
  -webkit-font-smoothing antialiased

body
  background-color $black
  font-family 'Atlas Grotesk', sans-serif
  font-size 2rem
  line-height 3rem
  color $white

ul, ol
  font-family 'Atlas Grotesk', sans-serif
  list-style none
  list-style-type none
  margin 0
  padding 0

p
  margin 0
  margin-bottom 3rem
  &:last-child
    margin-bottom 0
  
a
  color $brandGold
  text-decoration none
  
  &:hover
    color $brandGold2
    text-decoration none



.col-content
  padding-top 9rem
  padding-bottom 9rem

.sidebar
  display flex
  align-items center
  justify-content space-around
  position fixed
  top 0
  left 2rem
  bottom 0
  width calc(25% - 2.5rem)

.sidebar-content
  max-width 220px
  width 100%
  text-align center
  
.spc-logo
  width 130px
  display block
  margin 0 auto
    
nav
  border-top 1px solid $brandGold
  padding-top 1rem
  margin-top 3rem
  
  a
    display block
    font-size 1rem
    line-height 2rem

nav.nav-location a.nav-location
nav.nav-members a.nav-members
nav.nav-events a.nav-events
nav.nav-air a.nav-air
  color $brandGold2

.mobile-nav
  position absolute
  top 0.5rem
  right 1rem
  width 2rem
  height 2rem
  text-align center
  line-height 2rem
  font-size 3rem
  .mobile-nav-icon
    color rgba($white, 50%)

.events-list
  font-size 1.5rem
  line-height 2.25rem
  color $brandRegular
  li
    margin-bottom 2.25rem
    &:last-child
      margin-bottom 0
      
  .highlight
    color $brandHighlight
    font-weight 600

.air-video
  position relative
  max-width 640px
  

  .air-video-ratio // hack to maintain iframe aspect ratio
    display block
    width 100%
    height auto

  iframe
    position absolute
    top 0
    left 0
    width 100%
    height 100%

.members
  display flex
  justify-content space-between
  align-items flex-start
  flex-wrap wrap
  
.member
  padding 0.5rem
  padding-bottom 2rem

.member-inner
  width 144px
  height 144px
  border-radius 72px
  overflow hidden
  img
    width 100%

// flexboxgrid addons

.container  
  width 100%
  max-width 1200px
  padding-left 1.5rem
  padding-right 1.5rem

.container-fluid
  width 100%

// xs
@media only screen and (max-width:$sm-viewport)
  .u-hidden-xs
    display none !important
  
  body
    font-size 1.25rem
    line-height 1.75rem
  
  .spc-logo
    width 120px
      
  .col-content
    padding-top 2rem
    padding-bottom 2rem
    
  .sidebar
    position static
    width 100%
    padding-top 4rem
    padding-bottom 2rem
  
  .member-inner
    width 130px
    height 130px
    
    
// sm
@media only screen and (min-width:$sm-viewport)
  .u-block-sm
    display block !important
  
  .u-hidden-sm
    display none !important

