@import vars


.team-card
  width 437px

.question-ss-wrapper
  position relative
  width 100%
  
// .question-ss
//   width 600px
//   max-width none

.pipeline
  position relative



.pipeline-icon-wrapper
  display block
  position relative
  &:after
    content ''
    position absolute
    left 50%
    top 100%
    width 1px
    height 500px
    background-color #ccc

.pipeline-icon
  display block
  margin 0 auto
  
@media only screen and (max-width: $sm-viewport)
  .pipeline-icon
    margin-bottom 30px
  .third-col
    margin-top 30px
  
  .pipeline-icon-wrapper
    &:after
      display none
    
