@import vars

.Section
  position relative
  padding-top 7rem
  padding-bottom 5rem

.Section--grayBg
  background-color #F5F5F5

.Section--invertBg
  background-color $brandDarker
  color $white !important
  .section-title, h3
    color $white
  .section-description, p
    color rgba($white, 85%)
  
.section-title
  font-size 40px
  line-height 54px
  font-weight 500
  color $brandDarker
  margin 0
  margin-bottom 24px
  
.section-subtitle
  font-size 24px
  font-weight 400
  line-height 36px
  color $brandDarker
  margin 0
  margin-bottom 18px

.section-description
  font-size 16px
  font-weight 300
  line-height 26px
  color $brandDark
  

        
@media only screen and (max-width: $sm-viewport)
  .Section
    padding-top 4rem
    paddig-bottom 3rem
  
  .section-title
    font-size 30px
    line-height 40px
    margin-bottom 16px
  
    
    
