$white = #fff
$black = #000
$brandGold = #A58242
$brandHighlight = #E4CE9B
$brandHighlight2 = #CAAA77
$brandRegular = #B2B2B2

$font-size-large = 2rem
$line-height-large = 3rem
$font-size-medium = 1.5rem
$line-height-medium = 2.25rem
$font-size-small = 1.25rem
$line-height-small = 2rem
$font-size-smallest = 1rem
$line-height-smallest = 1.75rem


$sm-viewport = 48em
$md-viewport = 62em
$lg-viewport = 75em

