$white = #fff
$black = #000
$brandGold = #A58242 // darker gold for links
$brandGold2 = #CAAA77 // gold for rollover/current page
$brandHighlight = #E4CE9B // light gold
$brandRegular = #B2B2B2

$sm-viewport = 48em
$md-viewport = 62em
$lg-viewport = 75em

