extends ./layout.jade

block content
	p You only get a few shots at building your life’s work—the kind of work that makes a difference, that can’t happen without you.
	p South Park Commons brings together talented people to share ideas, explore directions, and realize the opportunities that’ll get you there.
	p We’ve created this environment to help you take risks and launch your next endeavor. You don’t come here to play it safe—we’re here to dive off the deep end together.
	p You only get a few shots at building your life’s work—the kind of work that makes a difference, that can’t happen without you.
	p South Park Commons brings together talented people to share ideas, explore directions, and realize the opportunities that’ll get you there.
	p We’ve created this environment to help you take risks and launch your next endeavor. You don’t come here to play it safe—we’re here to dive off the deep end together.

	