doctype html
html
  head
    title South Park Commons
    meta(name="viewport" content="width=device-width, initial-scale=1")
    
    link(rel="stylesheet", type="text/css", href="http://code.ionicframework.com/ionicons/2.0.1/css/ionicons.min.css")
    link(rel="stylesheet", type="text/css", href="css/main.css")
    script(src='js/main.js')


  body
    .container-fluid
    
      .row.middle-xs
        .col-xs-12.col-sm-3.u-textCenter
          .sidebar
            .sidebar-content
              img.spc-logo(src='img/spc-logo.png')
              nav.u-hidden-xs
                a(href='#') Location
                a(href='#') Members
                a(href='#') Events &amp; Activities
                a(href='#') A.I.R.
        .col-xs-12.col-sm-6.col-content
          p You only get a few shots at building your life’s work—the kind of work that makes a difference, that can’t happen without you.
          p South Park Commons brings together talented people to share ideas, explore directions, and realize the opportunities that’ll get you there.
          p We’ve created this environment to help you take risks and launch your next endeavor. You don’t come here to play it safe—we’re here to dive off the deep end together.
          p You only get a few shots at building your life’s work—the kind of work that makes a difference, that can’t happen without you.
          p South Park Commons brings together talented people to share ideas, explore directions, and realize the opportunities that’ll get you there.
          p We’ve created this environment to help you take risks and launch your next endeavor. You don’t come here to play it safe—we’re here to dive off the deep end together.

        .col-xs-12.col-sm-3 
