extends ../layout.jade

block nav
	-var active = 'nav-air'

block content
	p Local San Francisco artists Andy Vogt and Wendy Hough collaborated with members of South Park Commons to create custom, unique installations. Their art inspires us to think creatively every day. Below you’ll find a time-lapse of their installation.
	.air-video
		img.air-video-ratio(src="http://placehold.it/16x9")
		iframe(src="https://player.vimeo.com/video/75660130?title=0&byline=0&portrait=0" frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen)