extends ../layout.jade

block nav
	-var active = 'nav-events'

block content
	p Our community members host lectures, brainstorming events, and workshops on topics that they’re exploring. Since our founding, we've held deep-dives on the following topics:

	ul.events-list
		li
			span.highlight Virtual Reality
			span  &mdash; Angle Tech
			p Current limitations and future applications.

		li
			span.highlight Water
			span  &mdash; Alex Danco
			p Technology has always been a catalyst for policy. In this session we brainstormed ways technology could accelerate water policies in California.

		li
			span.highlight AI
			span  &mdash; Keith Adams, Chief Architect at Slack
			p Strengths and limitations of modern techniques. Where will we be in 5 years?

		li
			span.highlight Scaling
			span  &mdash; Hans Robertson
			p As the founder of Meraki, Hans took it from 0 people to 330, he shared his learnings and insights.

		li
			span.highlight Astrophysics
			span  &mdash; Saul Perlmutter
			p The Nobel prize winning physicist gave us a tour of his lab in Berkeley and explained the research that led to the discovery that the universe’s expansion is accelerating.

		li
			span.highlight Chatbots
			span  &mdash; Phil Fung, Founder of Operator
			p Where will this new interface shine? Where will it struggle?

		li
			span.highlight Space
			span  &mdash; Chris Boshuizen
			p How can we bring current technologies to space? How can we bring space technologies to earth?

